sudo: required
language: minimal

env:
  global:
    - STRAP_SUDO_PROMPT=false
    - STRAP_PROFILES=ci
    - STRAP_GITHUB_USER=lhazlewood
    # this next secure value was created via:
    #     travis encrypt STRAP_GITHUB_TOKEN='my_github_personal_access_token'
    - secure: Yg8jj6JzxFhEJ33DIuDzrxZ5l14QcGJpGw1bsNWfkuuWp3nRAis0J+cXHugaxlwPMtLosfmkhya/vUpMeyPVd8eeNq9qJn2Lq7aFqrPbVoNkyDdX+LFOA8PlXk8odGd+8eGXbQosmp0K1iZSuYyrhh6wWMrY61N8JhgM82IQCNYaGIBB+W38k+P6m/4seXyndmF0gu29AR5a+LhxWv87bk4GWuJNpokrtpJn/C8/XnD4v8zPkphD+niTOcSApZcVaHiAi+MzljY/8jeMHWVz5Igh2DjMapP3RG/hrruCUvIstgkYsITf+2DhgqcPF+HXxihNxCC7f6qf+cGR72eq50qA80XNhov+VMYzqKzjBsTDIGZooTewV4Vr3GqFs4tH9YeYVXf/yiLAWDaBl3awfxmThCO0Lbo3tZAtSBUQFnRsZZMteiTCTrdPTOpG9Ybyc7Z3q98DsFg4tbFxqQ44JQflgYn1nqaJlN73jCWGr3ZDZ7RpBw3JoO+yUXXOru1mi8cRDx9ypLmWLUOC1zsI5+HFkJpGowL8eGuRChhYXaZAZSsLgg/b4935kHveIV1j9VkoZcQIoH6ka5UhkJFoVlSR4d3b2XGKAVkvIDlcf0Vr6dwrR0qWFvJBk/Kvb8tFZUXtZ3pfs9DiglSd6avZzP+sdTdbGqaNpjboew5Ltl4=

addons:
  apt:
    packages:
      #- xvfb
      - gnome-keyring
      - python-gnomekeyring

jobs:
  include:
    - name: "Ubuntu 14.04 Trusty"
      os: linux
      dist: trusty
    - name: "Ubuntu 16.04 Xenial"
      os: linux
      dist: xenial
    - name: "MacOS 10.13 High Sierra"
      os: osx
      osx_image: xcode10.1
    - name: "MacOS 10.14 Mojave"
      os: osx
      osx_image: xcode11.2

#branches:
#  only:
#  - master
#  - /^\d+\.\d+(\.\d+)?(-\S*)?$/

before_install: test/ci/before_install

install: skip 

script: test/ci/run

after_script: test/ci/cleanup # remove any test assets that might have been persisted to other systems during the build
